body {
    margin: 0;
    padding: 0;
    background-color: #0c0c2b;
    font-family: sans-serif;
}

/* commom part for every section start */
.main-section-uper-part {
    height: 200px;
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid tan; */
}

.main-section-uper-part h2 {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 71px;
    color: #9a9b9c;
    opacity: 20%;
}

.main-section-uper-part img {
    position: relative;
    bottom: 120px;
}

/* commom part for every section end */

/* navber start */

/* nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-child-1 a img {
    height: 30px;
    width: 80px;
}

.nav-child-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-child-2 h4 a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 900;
    position: relative;
}
.nav-child-2 h4 a:hover{
    zoom: 110%;
}
.nav-child-2 h4 a::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: red;
    left: 0;
    bottom: -5px;
}

.nav-child-2 h4 a:hover::before{
    width: 100%;
    transition: 0.5s;
    zoom: 120%;
}

.nav-child-2 button a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

.nav-child-2 button {
    border: 1px solid #0606be;
    border-radius: 8px;
    padding: 10px 15px;
    background-color: #0c0c2b;
}
.nav-child-2 button:hover {
    box-shadow: 1px 1px 3px 5px #0606be;
} */


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
}

.nav-child-1 a img {
    height: 50px;
    width: 100px;
}

.nav-child-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-child-2 h4 a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 800;
    position: relative;
}

.nav-child-2 h4 a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 0;
    background-image: linear-gradient(to right, red, blueViolet);
    transition: 0.5s;
}

.nav-child-2 h4 a:hover::after {
    width: 100%;
}

.nav-child-2 button a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

.nav-child-2 button {
    border: 1px solid #0606be;
    border-radius: 8px;
    padding: 10px 15px;
    background-color: #0c0c2b;
}

.nav-child-2 button:hover {
    box-shadow: 1px 1px 3px 5px #0606be;
}

/* navber end */


/* banner section start */
#banner-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    color: aliceblue;
    margin: 30px 100px;
}

.banner-child-1 p {
    text-align: justify;
}

/* type animation Start */

.type-animation {
    display: flex;
    justify-content: left;
    align-items: first baseline;
}

.type-animation ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: 900;
    color: orange;
    font-size: x-large;
    height: 35px;
    overflow: hidden;
}

.type-animation li {
    height: 35px;
    line-height: 35px;
    position: relative;
    top: 0;
    animation: uper-style 6s steps(3) infinite;
}

@keyframes uper-style {
    100% {
        top: -105px;
    }
}

.type-animation ul li span {
    position: relative;
}

.type-animation ul li span::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid tan;
    background-color: #0c0c2b;
    animation: type-style 2s steps(14) infinite;
}

@keyframes type-style {
    100% {
        left: 100%;
    }
}








/* type animation end */

/* .animation-style{
    height: 50px;
    width: 150px;
    background-color: black;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.animation-style::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 140%;
    background-image: linear-gradient(to right, red, blueViolet);
    animation: rotate 4s linear infinite;
}

.animation-style::after{
    content: '';
    position: absolute;
    background-color: #0c0c2b;
    inset: 5px;
    border-radius: 10px;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.button-style{
    font-size: small;
    z-index: 2;
} */

.animation-style {
    height: 50px;
    width: 150px;
    /* border: 1px solid tan; */
    background-color: #161515;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.animation-style::before {
    content: '';
    position: absolute;
    height: 110%;
    width: 200px;
    background-image: linear-gradient(to right, red, yellow);
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animation-style::after {
    content: '';
    position: absolute;
    background-color: #0c0c2b;
    inset: 3px;
    border-radius: 5px;
}

.button-style {
    font-weight: bold;
    z-index: 2;
    color: aliceblue;
}

.banner-child-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.banner-child-2 img {
    height: 400px;
    width: 400px;
}

.banner-child-2 div img {
    height: 30px;
    width: 30px;
}

.image-style {
    border: 2px solid tan;
    border-radius: 250px;
    padding: 7px;
    box-shadow: 1px 1px 5px 5px tan;
    margin-right: 20px;
}

.image-style:hover {
    animation: rotate 0.5s linear;
    /* animation-name: rotate;
    animation-duration: 0.5s;
    animation-timing-function: linear; */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* banner section end  */


/* main section parent design */
#main-section-parent {

    display: flex;
    flex-direction: row;


}

/*  */

/* main section div child  */
.div-child {
    display: flex;
    font-family: sans-serif;
    gap: 20px;
    width: 90%;
    text-align: justify;
    margin: 10px;
    border: 1px solid orange;
    padding: 7px;
    border-radius: 7px;
    opacity: 30%;
}

/* div child paragrah design */


/* font color design div child h1 */

.div-child h1 {
    color: orange;

}

.div-child p {
    color: silver;
}


/* main section div child hover */
.div-child:hover {
    display: flex;
    font-family: sans-serif;
    gap: 20px;
    width: 90%;
    text-align: justify;
    margin: 10px;
    border: 1px solid red;
    padding: 7px;
    border-radius: 10px;
    opacity: 100%;

}

.div-child img {
    height: 130px;
    width: 150px;
}

/* socound section div child-2nd */

.div-child-2nd {

    display: flex;
    font-family: sans-serif;
    gap: 20px;
    width: 90%;
    text-align: justify;
    margin: 10px;
    border: 1px solid orange;
    padding: 7px;
    border-radius: 7px;
    opacity: 30%;


}

/* secound section child divchild-2nd hover */
.div-child-2nd:hover {
    display: flex;
    font-family: sans-serif;
    gap: 20px;
    width: 90%;
    text-align: justify;
    margin: 10px;
    border: 1px solid red;
    padding: 7px;
    border-radius: 10px;
    opacity: 100%;

}

.div-child-2nd img {
    height: 130px;
    width: 150px;
}



/* secound main section design */

#main-section-secound-item {
    display: flex;
}


.design-div-main {
    width: 80%;

    text-align: justify;
    font-family: sans-serif;
    border-bottom: 1px solid red;
    margin: 40px;
}

#seciund-nain-h1 {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

/* button design main */
.button-design-main {
    border: none;
    background-color: rgb(97, 95, 95);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

/* button design hover style  */
.button-design-main:hover {

    border: none;
    background-color: rgb(222, 101, 101);
    border-radius: 7px;
    padding: 10px;
    color: rgb(239, 191, 102);
    box-shadow: 1px 1px 8px 3px orange;

}

/* sestion parent sum */
#section-parent-sum {

    display: flex;
    gap: 250px;
    margin-top: 100px;
}

/* secound section h2 design */
.h2-div-design {
    color: rgb(251, 215, 149);
}

.h3-div-design {
    color: aliceblue;
}

/* paragraph font design */
.design-div-main p {
    color: rgb(124, 122, 122);
}

/* form design stert  */

#section-form {
    display: flex;
    gap: 300px;
    margin: 30px 10%;

}

#section-form div img {
    height: 400px;
    width: 500px;
    border-radius: 10px;
}

.form-design {
    color: orange;
    font-size: x-large;
    font-weight: bold;
    margin: 10px;
}

.input-design {
    border: 2px solid red;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    color: #87888a;

}

/* fotter section stert */

#footer-section {
    display: flex;
    height: 300px;
    width: 100%;
    border: none;
    background-color: rgb(102, 110, 95);
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin-top: 70px;



}

.office-div {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #9c9ea1;

}

.link-desing {
    text-decoration: none;
    color: #9c9ea1;
}

.common-part-footer {
    color: orange;
    font-weight: bold;
    font-size: x-large;
}

.image-disign-footer {
    height: 40px;
    width: 40px;
}

.footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
}

/* fotter section end */

/* 
client review section design stert */
.same-design-p {
    border: 2px solid rgb(238, 10, 10);
    height: 150px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    margin-bottom: 40px;

}

.img-design-last-1 {

    position: relative;
    left: 200px;
    height: 100px;
    width: 100px;
    border: 1px solid orange;
    padding: 5px;
    border-radius: 60px;
}

.img-design-last-2 {

    position: relative;
    left: 570px;
    height: 100px;
    width: 100px;
    border: 1px solid orange;
    padding: 5px;
    border-radius: 60px;
}

.img-design-last-3 {

    position: relative;
    left: 970px;
    height: 100px;
    width: 100px;
    border: 1px solid orange;
    padding: 5px;
    border-radius: 60px;
}

/* 
client review section design finifhed */


















@media screen and (max-width: 625px) {

    /* navber start */
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-child-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    /* navber end */
}